<p id="notice"><%= notice %></p>

<p>
  <strong>Gallery:</strong>
  <%= @gallery_attachment.gallery_id %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @gallery_attachment.photos %>
</p>

<%= link_to 'Edit', edit_gallery_attachment_path(@gallery_attachment) %> |
<%= link_to 'Back', gallery_attachments_path %>
