<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta property="og:title" content="<%=$og_title%>"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="<%=$og_image%>"/>
<meta property="og:url" content="<%=$og_url%><%=$url%>"/>
<meta property="og:description" content="<%=$og_description%>"/>
<head>

	<title>CEG SPARTANZ|<%=@title%></title>
	<%= stylesheet_link_tag    "application",media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", media: "all","data-turbolinks-track" =>true %>
	<%= javascript_include_tag "bootstrap.min", media: "all","data-turbolinks-track" =>true %>
	<%= javascript_include_tag "kustom", media: "all","data-turbolinks-track" =>true %>
	<%= csrf_meta_tags %>
</head>
<body class="body">
  <img class="under" src="/assets/build.GIF"/>
  <h1 class="header"><b>BRACE YOURSELF...<br>THE BATTLE GROUND IS GETTING READY<b></h1>
						</body>
						</html>
